@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-family:  var(--font-google-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
